.introducao {
  width: 70%;
  margin: 50px 0;
  font-size: 1.4em;
  font-weight: 500;
}

/* .introducao :first-child {
  color: rgb(78, 46, 72);
} */

.piadoca {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 100px;
  width: 90vw;
  text-align: center;
}

.piadoca h3 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.piadoca h4 {
  margin-bottom: 25px;
}

.piadoca div {
  margin: 50px;
}

.piadoca img {
  object-fit: cover;
  width: 500px;
  max-width: 90vw;
  height: 300px;
}
