.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  width: 60%;
  min-height: 500px;
  margin-top: 50px;

  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
}

address {
  justify-content: space-around;
}

.contact_form > div {
  width: 100%;
  height: auto;
}

input,
textarea {
  background-color: snow;
  border: 1px solid gray;
  border-radius: 4px;
  padding-left: 8px;
  resize: none;
  width: 100%;
  height: 25px;
  margin-top: 10px;
}

textarea {
  padding-top: 5px;
  height: 200px;
}

@media (max-width: 1080px) {
  .contact_form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .contact_form {
    width: 100%;
    border: none;
  }
}
/* 
.Pindamonhangaba img {

  width: ;
  height: ;
} */
